* {
  margin: 0.2rem;
  padding: 0.1rem;
  box-sizing: border-box;
  font-family: cursive;
  font-size: 18px;
  background: rgba(128, 128, 128, 0.616);
}
.myButton {
  width: 5rem;
  height: 2.2rem;
  border: none;
}
.myButton:hover {
  border: solid;
  background-color: rgb(46, 84, 128);
  color: rgb(41, 197, 176);
  border-width: 2.5px;
  border-color: rgb(43, 189, 226);
}
