* {
  margin: 0.2rem;
  padding: 0.1rem;
  box-sizing: border-box;
  font-family: cursive;
  font-size: 18px;
}
body{
  background: #4f5b68a6;
}
textarea{
  border-radius: .5rem;
  background: #9991afa9;
  color: #51645f;
  border: 2px solid #AED8CC;
  outline: none ;
}
